.imgs {
  display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  width: 90%;
  height: 650px;
  align-items: flex-end;
  overflow: hidden;
  img {
    position: absolute;
    width: 300px;
    height: 575px;
    object-fit: cover;
    transition: 1s ease;
  }
  img:first-child {
    left: 0px;
    height: 470px;
  }
  img:nth-child(2) {
    left: 350px;
  }
  img:nth-child(3) {
    left: 680px;
  }
  img:last-child {
    left: 1000px;
    height: 470px;
    transition: 0.5s ease;
  }
}
